
html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto-Regular, sans-serif';
    font-size: 15px;
    line-height: 24px;
    background-color: #f4f6f5;
    
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
}
img {
    display: block;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;

}
h1{
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}
input{
    outline: none;
}
.btn:focus {
	box-shadow: none;
	outline: none;
}

button:not(:disabled) {
    cursor: pointer;
    outline: none;
}

}