
html{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto-Regular, sans-serif';
    font-size: 15px;
    line-height: 24px;
    background-color: #f4f6f5;
    font-weight: 400;
}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}    
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
// .page-content{
//     background-color: #f4f6f5;
// }
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
}
img {
    display: block;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;

}
h1, h3{
    font-size: 48px;
    color: #fff;
    font-weight: f700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h3{
    font-size: 36px;
    color: #263238;
    line-height: 60px;
}
h4{
    font-size: 30px;
    color: #fff;
    line-height: 36px;
    font-weight: 400;
}
h5{
    font-size: 20px;
    color: #263238;
    font-weight: f700;
}
input{
    outline: none;
}
a,
button:focus {
	box-shadow: none;
	outline: none;
}

button:not(:disabled) {
    cursor: pointer;
    outline: none;
    border: none;
    
}
.item-title{
    font-size: 18px;
    font-weight: f500;
    color: #263238;
    font-family: 'Roboto', sans-serif;
}
.rate-star{
    display: inline-block;
    margin-right: 13px;
}
// start menu palette

.angle-right{
    position: relative;
    padding-left: 15px;
    color: #546e7a;
    &:before{
        content: "\f105";
        font-family: 'icomoon';
        font-size: 14px;
        left: 0;
        position: absolute;
        color: #8bc34a;
    }
} 
// start breadcrumbs section
.breadcrumbs{
    &__inner{
        padding: 45px 0 40px;
    }
    &__list{ 
        li{
            position: relative;
            padding-left: 24px;
            color: #263238;
            &:before{
            content:'-';
            position: absolute;
            left: 8px;
            color: #8bc34a;
            }
            &:first-child{
                &:before{
                    content:'';
                }
            }
        }
        li > a{
            color: #b0bec5;
            font-size: 15px; 
        }
      }
    a,
    span{
        color: #263238;  
        font-size: 15px; 
    }
}
// end breadcrumbs section





@media (max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }    
}