
html{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    position: relative;
    overflow-x: hidden; 
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto-Regular, sans-serif';
    font-size: 15px;
    line-height: 24px;
    background-color: #f4f6f5;
    font-weight: 400;
}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}    
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
}
img {
    display: block;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;

}
h1, h3{
    font-size: 48px;
    color: #fff;
    font-weight: f700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h3{
    font-size: 36px;
    color: #263238;
    margin-bottom: 50px;
    line-height: 24px;
}
h4{
    font-size: 30px;
    color: #fff;
    line-height: 36px;
    font-weight: 400;
}
h5{
    font-size: 20px;
    color: #263238;
    font-weight: f700;
}
input,
select,
textarea{
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    resize: none;
}
// a,
// button,
// input{
//     transition: all 1s ease;
//     cursor: pointer;
// }
a,
button:focus,
select:focus {
	box-shadow: none;
	outline: none;
}

button:not(:disabled) {
    cursor: pointer;
    outline: none;
    border: none;
    
}
.item-title{
    font-size: 18px;
    font-weight: f500;
    color: #263238;
    font-family: 'Roboto', sans-serif;
}
.rate-star{
    display: inline-block;
    margin-right: 13px;
}
.form-btn{
    border: none;
    background-color: #8bc34a;
    color: #fff;
    cursor: pointer;
}
// start menu palette

.angle-right{
    position: relative;
    padding-left: 15px;
    color: #546e7a;
    &:before{
        content: "\f105";
        font-family: 'icomoon';
        font-size: 14px;
        left: 0;
        position: absolute;
        color: #8bc34a;
    }
} 
// start breadcrumbs section
.breadcrumbs{
    &__inner{
        padding: 45px 0 40px;
        width: 1200px;
        overflow: hidden;
    }
    &__list{ 
        .breadcrumbs__link{
            color: #b0bec5;
        }
        .breadcrumbs-divider{
            color: #8bc34a;
            padding: 0 10px 0 8px;
        }
        span:last-child{
            a{
                color: #263238;  
                font-size: 15px; 
            }
        }
    }
}
// end breadcrumbs section
@media (max-width: 1100px){
    body{
        line-height: 21px;
    }
}
@media (max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }    
}