@media (max-width: 1950px){
    .products-slider__inner{
        text-align: center;
    }
}
@media (max-width: 1490px){
    .products-slider__inner{
        .products__item{
            max-width: 560px;
        }
    }
}
@media (max-width: 1400px){
    .products .products__item{
        flex-basis: calc(33.3333% - 30px);
    }
}
@media (max-width: 1240px){
    .products-slider__inner{
        .products__item{
            max-width: 450px;
        }
    }
    .tutorial__item{
        padding: 0 5px;
    }
}
@media (max-width: 1200px){
    .withdraws{
        &__inner{
            display: block;
            margin-bottom: 100px;
        }
        &__col{
        max-width: 100%;
        margin-bottom: 30px;
        }
    }
    .withdraws__content{
        &-status {
        width: 73px;
        }
        &-price {
        width: 70px;
        }
    }
    .page-about__inner {
        padding: 0 27px;
    }
    .page-about__content .form-btn{
        padding: 15px 30px;
        margin-left: 259px;
        }
    .product-one__tabs.settings__tabs .tab_content .page-box__content .form-btn {
        margin-left: 196px;
        max-width: 100%;
    }
    .footer{
        &__content{
            padding: 60px 0;
        }
        &__wrapper{
            flex-wrap: wrap;
        }
        &__col-about{
            min-width: 100%;
            margin-bottom: 30px;
        }
        &__col-contacts {
            display: block;
            &:before{
                top: 0;
            }
        }
    }
}
@media (max-width: 1175px){
    .contact__form-row{
        display: block;
    }
    .contact__form{
        input{
            width: 100%;
        }
    }
    .products{
       .products__item{
            flex-basis: calc(50% - 30px);
            max-width: 100%;
        } 
    }
    
    .advantages__item {
        &:first-child{
            margin-left: 30px;
        }
    }
}
@media (max-width: 1120px){
    .author__awards-list{
        text-align: center;
        display: block;
    }
    .product__price{
       button{
           font-size: 15px;
       }
    } 
    .product-one__aside{
        .aside__item{
            padding: 0px 20px 25px;
       }
    }
    .product-one{
        &__socials{
            display: flex;
            justify-content: flex-end;
            .fb {
                margin-right: 3px;
            }
        }
        &__link{
            margin-bottom: 30px;
        }
        &__box{
            display: block;
            margin-bottom: 30px;
        }
        &__tabs {
            padding-bottom: 35px;
        }
        &__content {
            margin-right: 20px;
        }
    }
    .advantages{
        h3{
            margin-top: 0;
        }
    }
    .advantages__item {
        margin-right: 30px;
    }
}
@media (max-width: 1100px){
    .product-page__content{
        .products__item{
            flex-basis: calc(50% - 30px);
        }
    }
    .product-one__tabs.settings__tabs .tab_content .page-box__content .form-btn {
        margin-left: 186px;
    }
    .product-page__items .products__item.list {
        .products__item-txt {
            font-size: 13px;
            line-height: 16px;
            max-width: 250px;
            width: 100%;
        }
        .products__item-price span {
            display: table-caption;
            margin-top: 15px;
        }
        .products__item-list {
            padding-top: 12px;
        }
        .products__item-stars {
            margin-right: 20px;
        }
    }
    .product-page{
        padding-bottom: 100px;
        &__content{
        .pagination__list{
            margin-top: 0;
        }
    }
}
}
@media (max-width: 1050px){
    .header{
        &__txt{
            display: none;
        }
    }
    .product-page__content .products__item-info {
        padding: 0px 23px; 
    }
    .product-page__items .products__item.list .products__item-list {
        padding-top: 20px;
    }
    .products-slider__inner{
        .products__item{
            max-width: 350px;
        }
        .slick-dots {
            margin-top: 20px;
        }
    }
    .products-slider {
        padding: 100px 0 70px;
    }
    .products {
        padding: 110px 0 90px;
    }
    .products,
    .products-slider,
    .advantages,
    .tutorial{
        h3 {
            font-size: 32px;
            margin-top: 0;
            line-height: 36px;
        }
    }
}
@media (max-width: 1010px){
    .author__box{
        display: block;
        text-align: center;
        .circle__img{
            margin: 0 auto;
        }
        .circle__info-name {
            margin-top: 5px;
        }
        .author__profile{
            margin: 0 auto;
        }
    }
    .product-one__aside{
        .author__awards-list {
            text-align: center;
            display: block;
            max-width: 90%;
            margin-left: 8px;
        }
        .aside__title{
            font-size: 18px;
        }
    }
    .product-page__items .products__item.list {
        .products__item-stars {
            margin-right: 15px;
        } 
        .products__item-list {
            display: inline-grid;
            padding-top: 12px;
        }
        .products__item-price {
            font-size: 28px;
            text-align: -webkit-right;
        }
    }
    .product-page__content .products__item-info {
        padding: 0 10px 0 23px;
    }
    .products__item-list .icon-comment-o {
        padding-right: 15px;
    }
}
@media (max-width: 967px){
    .page__error-inner .page__error-number:after {
        width: 50px;
        height: 100px;
        margin-left: 0;
        background-size: cover;
    }
    .product-one__tabs.settings__tabs {
        display: block;
        padding-bottom: 100px;
        .tab_content .page-box__content {
            padding: 30px 35px 66px;
        }
        .tabs{
            margin-bottom: 20px;
            max-width: 100%;
        }
        .tab_content .page-box__content .form-btn {
            margin-left: 199px;
        }
    }
    .profile{
        &__wrapper{
        flex-direction: column;
            aside{
                max-width: 100%;
            }
        }
        &__content{
            order: -1;
            margin-bottom: 30px;
        }
    }
    .profile__aside {
      .aside__item {
            width: 100%;
            max-width: 100%;
        }  
        &-btn {
            max-width: 100%;
            .product-one__socials{
                place-content: flex-end;
            }
        }
        .author__box{
            justify-content: center;
        }
        .author__profile{
            margin: 0 auto;
        }
    }
    .information__line{
        display: flex;
        flex-wrap: wrap;
    }
    .footer__content {
        padding: 50px 0;
    }
}
@media (max-width: 920px){
    .search__inner{
        &-title{
            font-size: 38px;
            line-height: 40px;
        }
        &-txt {
            font-size: 18px;
        }
    }
    .products__item-list .icon-comment-o, .products__item-list .icon-heart-o {
        padding-left: 45px;
    }
    .product-page__items .products__item.list {
        .products__item-stars{
            margin-right: 10px;
        }
        .products__item-txt {
            max-width: 220px;
        }
    }
    .products-slider{
        padding: 120px 0 110px;
        h3 {
            margin-bottom: 50px;
        }
    }
    .tutorial{
        padding: 64px 0 120px;
        h3{
            margin-bottom: 54px;
        }
        &__inner{
            flex-wrap: wrap;
            margin-left: -20px;
            justify-content: flex-start;
        }
        &__item{
            margin-left: 20px;
            max-width: 100%;
            flex-basis: calc(50% - 20px);
            padding: 0;
            margin-bottom: 20px;
            &-title{
                padding: 26px 50px;
                font-size: 18px;
            }
            a {
                max-width: 100%;
            }
        }
    }
    .products__item-img {
        min-height: 225px;
    }
    .advantages__inner-items{
        flex-wrap: wrap;
        .advantages__item{
            &:last-child{
                margin-top: 30px;
            }
        }
    }
}
@media (max-width: 900px){
    .product-one{
        padding-bottom: 70px;
        &__inner{
        display: block; 
    }
        &__content {
        margin-right: 0px;
    }
}
    .product-one__aside{
        .aside__items{
            display: flex;
            flex-direction: column;
        }
        .aside__item{
            order: -1;
            max-width: 100%;
            &-info{
                margin-bottom: 0;
            }
        }
        .product__price{
            order: 1;
        }
        .author__awards-list {
            text-align: center;
            max-width: 100%;
        }
    }
    .product-page{
        &__inner{
            display: block;
        }
        &__aside{
            margin-right: 0;
            .aside__item{
                max-width: 100%;
            }
        }
        .top-sellers{
            display: none;
        }
    }
}
@media (max-width: 850px){
    .header{
    &__logo{
        margin-left: 60px;
    }
    &__menu{
        height: 0;
    }
}
    .jq-selectbox {
        z-index: 0;
    }
    .upload__inner{
        input{
            font-size: 96%;
        }
    }
    .menu{
        &__list{
            display: none;
            background-color: $bg;
            z-index: 1;
            color: $text-min;
            text-align: center;
            top: 90px;
            left: 0;
            right: 0;
            position: absolute;
            padding-bottom: 30px;
            li{
                display: block;
                border-bottom: 1px solid rgba(139, 195, 75, 0.3);
                & + li{
                    margin-left: 0;
                }
                a{
                    display: block;
                    padding: 10px 0;
                }
            }
        } 
        &__btn{
            position: absolute;
            top: 37px;
            display: block;
            width: 30px;
            div{
                background-color: $bg;
                height: 3px;
                border-radius: 8px;
                & + div{
                    margin-top: 5px;
                }
            }
        }
    }
    .menu{
        &__list{
            top: 128px;
            }
        &__btn{
            top: 100px;
        }
        }
        .header{
            &__logo {
                margin-left: 0;
        }
            &__menu {
                height: 36px;
                background: $bg;
        }
    }
        .menu__btn{
            width: 25px;
            div{
                background-color: $text-min;
                height: 2px;
            }
        }
   .user__box{
        .header__btn{
            display: none;
        }
        .user-menu{
            z-index: 2;
        }
   }
   .basket__box,
   .notification__box,
   .message__box{
        .circle__menu{
            z-index: 2;
        }
   }
   .product-one__tabs.settings__tabs .tab_content .page-box__content {
       .form-btn {
            margin-left: 0;
            margin-top: 4px;
        }
        .settings__line {
            display: block;
            label{
                display: inline-block;
                margin-bottom: 5px;
            }
        }
   }
    .products-slider__inner{
        .products__item{
            max-width: 300px;
        }
    }
   .contact__box{
       display: block;
   }
   .contact__wrapper {
        margin-bottom: 100px;
    }
    .advantages__item-txt {
        max-width: 313px;
        padding-left: 5px;
    }
    .author{
        min-height: 489px;
    }
    .footer{
        &__col{
            margin-bottom: 30px;
        }
        &__col-menu{
            & + &{
                margin-left: 60px;
            }
        }
        &__col-social{
            min-width: 100%;
        }
        &__wrapper{
            justify-content: flex-start;
        }
        &__form 
            button {
                top: auto;
                right: auto;
            }
        }
    }
@media (max-width: 740px){
    .page__error-inner .page__error-number {
        font-size: 180px;
        color: #fff;
        line-height: 200px;
    }
    .page__error-inner .page__error-link {
        color: #fff;
        padding: 12px 26px;
    }
    .page__error-inner .page__error-title{
        font-size: 27px;
        margin-left: 0;
    }
    .page__error-wrapper, .page-about__wrapper, .contact__wrapper {
        margin-bottom: 75px;
    }
    .products__item{
        flex-basis: calc(100% - 30px);
    }
    .products,
    .products-slider,
    .advantages {
        padding: 90px 0;
    }
    .tutorial {
        padding: 64px 0 70px;
    }
    .products h3, .products-slider h3, .advantages h3, .tutorial h3 {
        font-size: 28px;
        line-height: 36px;
    }
    .products-slider__inner{
        .products__item{
            max-width: 290px;
        }
    }
    .author__item{
        display: block;
        text-align: center;
        &-title {
            max-width: 100%;
            font-size: 26px;
        }
        &-link {
            padding: 10px 30px;
            line-height: 43px;
        }
    }
    .login__wrapper {
        form button {
            max-width: 100%;
        }
        .new__account{
            max-width: 100%;
            margin-bottom: 10px;
            font-size: 16px;
        }
        .lost__password {
            font-size: 17px;
        }
    }
}
@media (max-width: 720px){
    .products-slider__inner{
        position: relative;
        button{
            transition: all 1s ease;
        }
        .slick-prev, .slick-next{
            position: absolute;
            background-color: transparent;
            color: transparent;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #dedede;
            outline: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            &:before{
                background-color: #fff;
            }
            &:hover {
                background-color: #94c75c;
                transition: all 1s ease;
                box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.23);
                margin-bottom: 10px;
            }
        }
        .slick-prev{
            right: 70px;
            top: 100%;
            background-image: url(../images/icons/chevron-left.svg);
        }
        .slick-next{
            right: 20px;
            background-image: url(../images/icons/chevron-right.svg);
        }
        .products__item{
            max-width: 95%;
            text-align: left;
            margin-left: auto;
        }
    }
    .advantages__inner{
        .advantages__item{
            max-width: 100%;
            margin: 0 auto 30px;
        }
        .advantages__item-txt{
            max-width: 100%;
            width: 500px;
            }
        }
        .advantages__inner-items .advantages__item:last-child {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
@media (max-width: 700px){
    .notification__box{
        display: none;
    }
    .message__box{
        display: none;
    }
    .header__box{
        margin-left: auto;
        .header__btn-logout{
            display: none;
        }
    }
    .user__box {
        .user{
            margin-right: 0;
        }
        .user-menu{
            left: 0;
       }
        .header__btn{
            margin-top: 5px;
            padding: 0;
            color: #e74c3c;
            font-size: 13px;
            display: block;
        }      
    }
    .withdraws__inner {
        margin-bottom: 70px;
    }
    .search__inner{
        &-title{
            font-size: 34px;
        }
    }
    #modal{
        padding: 90px 40px 100px;
        .login__wrapper form {
            max-width: 100%;
        }
    }
    .products .products__item{
        flex-basis: 100%;
        max-width: 100%;
    }
}
@media (max-width: 620px){
    .profile__banner-img {
        min-height: 250px;
    }
    .profile__item span {
        font-size: 13px;
    }
    .profile-settings .personal-box__txt {
        font-size: 14px;
    }
    .icon-th-list{
        display: none;
    }
    .tutorial__item{
        flex-basis: 100%;
    }
}
@media (max-width: 580px){
    .user{
        &__data{
            display: none; 
        }
        &__image{
            margin-right: 0;
        }
        &__box{
            margin-top: 53px;
            .user-menu{
                left: auto;
                right: 0;
                top: 62px;
            }
        }
    }
    .search__inner{
        &-title{
            font-size: 30px;
        }
    }
    .upload__inner{
        margin-bottom: 50px;
        &-title{
            font-size: 20px;
        }
    }
    .upload__inner-line input{
        height: 36px;
    }
    .upload__inner-content {
        padding: 32px 32px 50px;
    }
    .upload__inner-line {
        display: block;
        label{
            margin-bottom: 8px;
            display: inline-block;
        }
    }
    .product-one__tabs.settings__tabs {
        padding-bottom: 70px;
        .tab_content .page-box__content {
            padding: 30px 35px 50px;
        }
    }
    .product-one__more-item{
        width: 100%;
        display: block;
        .circle__item{
            flex-wrap: nowrap; 
            max-width: 100%;
            width: 100%;
        }
    }
    .product-one{
        &__img{
            height: 350px;
            background-size: cover;
        }
        &__link{
            display: flex;
            flex-direction: column;
            a{
                width: 100%;
                margin-bottom: 20px;
                & + a{
                    margin-left: 0;
                }
            }
        }
    }
    .products-slider .slick-dots {
        margin-top: 20px;
        li{
            margin-right: 2px;
            margin-left: 2px;
            button {
            &:before{
                content: '';
                width: 13px;
                height: 13px;
            }
        }
    }
}
    .products__inner button {
        width: 100%;
        border-bottom: 1px solid #d7d7d7;
    }
    .products__inner-btn {
        margin-bottom: 35px;
    }
    .products__bottom-btn {
        margin-top: 30px;
    }
    .products, .products-slider, .advantages {
        padding: 70px 0;
    }
    .profile__item-title {
        font-size: 13px;
    }
    .profile__item span {
        font-size: 12px;
    }
    .login__wrapper .new__account{
        padding: 9px 0 11px 48px;
        &:before {
            left: 20px;
        }
    }
}
@media (max-width: 540px){
    .search{
        min-height: 100%;
    }
    .search__inner {
        padding: 100px 0px 120px;
        &-txt{
            margin-bottom: 38px;
        }
    }
    .header__btn-menu{
        display: block;
    }
    .header__box{
        .header__btn-logout{
            display: none;
        }
    }
    .user__box {
        .user{
            margin-right: 0;
        }
        .user-menu{
            left: auto;
       }
        .header__btn{
            margin-top: 5px;
            padding: 0;
            color: #e74c3c;
            font-size: 13px;
        }       
    }
    .withdraws__content{
        margin-top: 35px;
        padding-left: 10px;
        padding-right: 25px;
        overflow-x: scroll;
        &-date{
            width: 123px;
        }
        &-item{
            min-width: 490px;
        }
    }
    .withdraws__content-date {
        padding-left: 10px;
    }
    .page__error-inner .page__error-number {
        font-size: 150px;
        line-height: 150px;
    }
    .page__error-inner .page__error-title {
        font-size: 23px;
    }
    .page__error-inner .page__error-txt {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .page__error-inner .page__error-link {
        padding: 10px 24px;
    }
    .page__error-inner {
        padding: 90px 0;
    }
    .upload__inner .form-btn{
        margin-left: 0;
    }
    .product-one__tabs {
        padding-bottom: 30px;
        .tabs 
        .tab {
            font-size: 15px;
        }
        .tab_content {
            padding: 30px 30px 34px;
            .tab-item__list {
                font-size: 15px;
            }
        }
    }
    .product-page__content {
        .products__item {
            flex-basis: 100%;
        }
        .product-page__items {
            margin-left: 0;
            .pagination{
                text-align: center;
            }
        }
        .products__item{
            margin-left: 0;
            max-width: 100%;
        }
    }
    .advantages__inner{
        .advantages__item-title{
            font-size: 22px;
        }
        .advantages__item-txt{
           font-size: 14px;
        }
    }
    .footer__col-menu {
        max-width: 100%;
    }
    .footer__col-menu+.footer__col-menu {
        margin-left: 0px;
    }
}
@media (max-width: 520px){
    .profile__items {
        display: block;
    }
    .profile__item{
        width: 100%;
        border-right: none;
        display: inline-flex;
        justify-content: center;
        &-title {
            font-size: 13px;
            margin-right: 10px;
        }
    }
    .product-one__tabs {
        .tabs {
            display: block;
        }
        .tab {
            display: block;
            & + .tab{
                border-top: 1px solid #d7d7d7;
            }
        }
    }
    .product-one__tabs.settings__tabs .tabs span {
        border-bottom: none;
    }
    .product-one__tabs .tabs .tab+.tab {
        border-left: 0px;
    }
    .author__item-title {
        padding: 0 15px;
    }
    .author__item-link {
        padding: 10px 23px;
        line-height: 32px;
        font-size: 15px;
        height: 50px;
    }
}
@media (max-width: 460px){
    .basket__box{
        .circle__menu{
            width: 224px;
            right: 0;
        }
        .circle__item{
            width: 224px;
        }
    }
    .basket__box:hover .circle__item{
        padding: 15px 0 15px 8px;
    }
    .basket__btn-cart {
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .basket__btn-check{
        margin-left: 34px;
    }
    .basket__sum {
        padding: 15px 17px;
    }
    .basket__sum-title {
        padding-left: 0;
    }
    .basket__sum-price {
        padding-right: 0;
    }
    .user__box:hover .user-menu {
        padding: 15px;
    }
    .header__logo{
        margin-top: 6px;
        margin-left: 0;
    }
    .header__btn-log {
        width: 55px;
    }
    .header__circle {
        margin-right: 12px;
    }
    .page__error-inner {
        padding: 80px 15px;
        .page__error-number:after {
            width: 51px;
            height: 100px;
            margin-left: 8px;
            margin-top: -12px;
            background-size: cover;
        }
        .page__error-number {
            font-size: 120px;
            line-height: 120px;
        }
        .page__error-title {
            font-size: 19px;
        }
        .page__error-txt {
            font-size: 14px;
            margin-bottom: 30px;
        }
    } 
    .contact__inner {
        padding: 31px 15px 15px;
        .contact__map {
            margin-bottom: 30px;
            iframe {
                width: 100%;
                height: 350px;
            }
        }
        .contact__info-title:before {
            font-size: 21px;
            left: 4px;
            top: -2px;
        }
    }
    .contact__wrapper-title {
        padding: 23px 38px 23px 18px!important;
    }
    .contact__form {
        input,
        textarea{
            margin-bottom: 20px;
        }
        button{
            font-size: 14px;
            padding: 15px 27px;
        }
        &-title{
            font-size: 20px;
        }
    }
    .product-one__tabs{
        .tab-item{
            &__list{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .author__item-title{
        font-size: 23px;
    }
}
@media (max-width: 400px){
    .search{
        min-height: 100%;
    }
    .search__inner {
        padding: 90px 0px 110px;
        &-txt{
            margin-bottom: 36px;
        }
    }
    .breadcrumbs__inner {
        padding: 30px 0 20px;
    }
    .withdraws__title {
        font-size: 20px;
        padding: 15px 10px;
    }
    .withdraws__form-line label {
        font-size: 14px;
    }
    .withdraws__content {
        margin-top: 20px;
    }
    .upload__inner{
        input,
        textarea{
            font-size: 86%;
        }
    }
    .product-one{
        padding-bottom: 50px;
        &__title{
            font-size: 22px;
            line-height: 36px;
        }
        &__txt{
            font-size: 14px;
        }
        &__img{
            height: 250px;
            background-size: cover;
        }
        &__link{
            margin-bottom: 12px;
        }
    }
    .product-one__tabs .tabs .tab {
        padding: 15px 0;
        &.active{
            border-bottom: 2px solid #8bc34a;
        }
    }
    .product-one__tabs .tab_content {
        padding: 20px 20px;
    }
    .page__error-inner {
        padding: 60px 15px;
        .page__error-number {
            font-size: 90px;
            line-height: 90px;
        }
        .page__error-number:after {
            width: 40px;
            height: 78px;
            margin-left: 6px;
            margin-top: -10px;
        }
        .page__error-title {
            font-size: 17px;
            line-height: 27px;
        }
        .page__error-txt {
            font-size: 13px;
            margin-bottom: 20px;
        } 
        .page__error-link {
            padding: 8px 18px;
            font-size: 13px;
        } 
    }
    .page__error-wrapper,
    .page-about__wrapper{
        margin-bottom: 50px;
        .error__wrapper-title,
        .page-about__wrapper-title{
            font-size: 20px;
        }
    } 
    .page-about__inner {
       .page-about__title {
        font-size: 18px;
            margin-top: 30px;
        } 
        .page-about__txt {
            margin-bottom: 30px;
        }
    }
    .product-one__tabs.settings__tabs .tab_content {
        .page-box__content {
            padding: 30px 35px 35px;
        }
        .page-box .page-box__title {
            font-size: 20px;
        }
    }
    .upload__inner {
        margin-bottom: 50px;
        .jq-selectbox__select {
            font-size: 13px;
        }
        .form-btn {
           margin-left: 0;
           @include f500;
           padding: 14px 28px;
        }
    }
    .profile-settings{
        .personal-box__txt {
            font-size: 12px;
        }
        .personal-box__title {
            margin-bottom: 14px;
            font-size: 18px;
        }
        .personal-box__item-title{
            font-size: 14px;
        }
        .personal-box {
            padding: 35px 20px 20px;
        }
    } 
    .profile__banner-img {
        min-height: 225px;
    }
    .footer__content {
        padding: 50px 0 15px;
    }
    .footer__copy span {
        font-size: 13px;
    }
    .footer__col-title{
        font-size: 20px;
        line-height: 20px;
    }
    .footer__col-txt,
    .footer__col-contacts{
        font-size: 14px;
    }
}
@media (max-width: 375px){
    .basket__box{
        max-width: 100%;
        .circle__menu{
            width: 100%;
            right: 0;
        }
        .circle__item{
            width: 224px;
        }
    }
    .withdraws__form-line label {
        font-size: 13px;
    }
    .products{
        padding-bottom: 50px;
    }
    .products__bottom-btn{
        button{
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 380px){
    .basket__box {
        .circle__menu {
            width: 190px;
            right: 0;
        }
        .circle__img {
            width: 61px;
            height: 51px;
        }
        .circle__info-name {
            font-size: 13px;
        }
    }
    .basket__box .circle__item {
        width: 190px;
    }
    .circle__info-name {
        font-size: 14px;
    }
    .basket__sum {
        padding: 7px 12px 12px;
    }
    .basket__btn-cart {
        margin-left: 30px;
    }
    .basket__btn-check {
        margin-left: 22px;
    }
    
}

@media (max-width: 340px){
    .basket__box {
        .circle__menu {
            width: 170px;
            right: 0;
        }
        .circle__item{
            width: 170px;
        }
        .basket__btn-cart {
            margin-left: 20px;
        }
        .basket__btn-check {
            margin-left: 12px;
        }
    }
    .products .products__item-name{
        .item-title{
            font-size: 16px;
        }
        .products__item-category{
            font-size: 13px;
        }
    }
    .menu__list {
        padding-bottom: 15px;
    }
    .search__inner-txt{
        font-size: 18px;
    } 
    .withdraws__form-line label {
        font-size: 12px;
    }
    .footer__form input {
        width: 80%;
    }
    .footer__copy span {
        font-size: 12px;
    }
}
@media (min-width: 851px){
    .menu{
    &__list{
        display: block!important;
    }
    &__btn{
        display: none;
    }
}
@media (min-width: 541px){
    .user__box{
        .header__btn{
            display: none;
        }
    }
}

}