@import 'global';
@import 'vars';
@import 'fonts';

// start header
.header{
    &__top{
        background: $bg-frame;
    }
    &__top-inner{
        height: 90px;
    }
    &__txt{
        margin-left: auto;
        margin-right: 88px;
        color: $text;
        font-size: 15px;
        &-tel{
            color: $text;
        }
        span{
            color: $red;
        }
    }
    &__menu{
        height: 60px;
        background: $bg;
    }
    &__btn{
        padding: 4px;
        width: 72px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        margin-right: 7px;
        &_log{
            background: $green;
        }
        &_reg{
            background: $red;
        }
    }
}

.menu{
    padding-top: 14px;
    &__list{
        li + li{
            margin-left: 30px;
        }
        a{
            line-height: 30px;
            letter-spacing: 0;
            font-weight: f500;
        }   
    }
}
// end header

// start 1st section
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;
    &__inner{
        padding: 135px 0 100px;
        text-align: center;
        
        &-txt{
            color: #fff;
            font-weight: f500;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 50px;
        }
        &-form{
            max-width: 670px;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    }
}
form{
    input{
        display: block;
        width: 100%;
        border-radius: 4px;
        height: 56px;
        border: none;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        line-height: 30px;
        padding-left: 25px;
        &::placeholder{
            font-weight: f500;
            color: #90a4ae;
        }  
    }
    button{
        position: absolute;
        background-color: transparent;
        border: none;
        right: 0;
        top: 0;
        padding: 19px 20px 17px;
    }
}
// end 1st section

// start 2nd section
.products{
    padding: 110px 0 130px;
    &__title{
        margin-bottom: 30px;
    }
    &__inner{
        &-btn{
        text-align: center;
        margin-bottom: 60px;
    }
    button{
        padding: 10px 18px 12px;
        color: $bg;
        font-weight: f500;
        font-size: 14px;
        margin-right: 6px;
        background-color: #fff;
        &.mixitup-control-active {
            background-color: #e74c3c;
            color: #fff;
            transition: all 1s ease;
        }
    }
    }
}

.products__item{
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    max-width: 442px;
    width: 100%;
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
    }
    &-name{
        max-width: 310px;
      
        a{
            display: block;
        }
    }
    &-category{
        color: $green;
        font-size: 14px;
        // display: block;
    }
    &-content{
        padding: 10px 30px;
        font-weight: f500;
        min-height: 88px;
        border-bottom: 1px solid #e7ecf2;
    }
    &-price{
        font-size: 20px;
        font-weight: f700;
        color: $bg;
    }
    &-info{
        min-width: 68px;
        padding: 10px 30px;

    }
    &-author{
        max-width: 245px;
        span{
            font-size: 14px;
            color: $text;
            font-weight: f500;
        }
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 30%;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
    }
    &-stars{
        color: $text;
        span{
            color: $bg;
        }
    }
}
.products__box{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products__bottom-btn{
    margin-top: 45px;
    text-align: center;
    button{
        margin-right: 11px;
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 400;
        color: $bg;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        &.mixitup-control-active {
            background-color: $text;
            color: #fff;
            transition: all 1s ease;
        }
    }
}
// end 2nd section

// start 3rd section
.products-slider{
    background: #fff;
    padding: 66px 0 120px;
}
.slick-dots {
   margin-top: 40px;
    display: block;
    text-align: center;
    
    li{
        margin-left: 3px;
        margin-right: 3px;
        display: inline-block;
        button {
        margin-right: 8px;
        background: transparent;
        color: #fff;
        &:before{
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            text-align: center;
            opacity: 1;
            background-color: rgb(232, 232, 232);
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.9);
            border-radius: 50%;
        }
    }
   }
}
.slick-dots li.slick-active button:before {
    background-color: #8bc34a;
    border: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 15px;
}
// end 3rd section

//   start 4th section
.advantages{
    background-color: $bg;
    padding: 100px 0 50px;
}
.advantages__inner{
    &-title{
        color: #fff;
        margin-bottom: 60px;
    }
    &-items{
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
}
.advantages__item{
    text-align: center;
    max-width: 370px;
    &:hover{
        .advantages__item-img{
            background-color: $green;
            svg{
                fill: #fff;
            }
        }   
        .advantages__item-title{
            color: $green;
        }    
    }
    &-title{
        font-size: 24px;
        color: #fff;
        font-weight: f500;
        margin-bottom: 20px;
        transition: all 1s ease;
    }
    &-img{
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto 30px;
        transition: all 1s ease;
        svg{
            margin-top: 19px;
            transition: all 1s ease-in-out;
        }
    }
    &-txt{
        font-size: 15px;
        font-weight: 400;
        color: #6a767c;
    }
}