@import 'global';
@import 'vars';
@import 'fonts';

// start header
.header{
    &__top{
        background: $bg-frame;
    }
    &__top-inner{
        height: 90px;
    }
    &__txt{
        margin-left: auto;
        padding-right: 88px;
        color: $text;
        font-size: 15px;
        &-tel{
            color: $text;
        }
        span{
            color: $red;
        }
    }
    &__menu{
        height: 60px;
        background: $bg;
    }
    &__btn{
        padding: 4px;
        width: 72px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        margin-right: 7px;
        &:last-child{
            margin-right: 0;
        }
        &-log{
            background: $green;
        }
        &-reg,
        &-logout{
            background: $red;
        }
    }
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    margin-right: 17px;
    &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        line-height: 18px;
        font-size: 11px;
        @include f700;
        color:#fff;
        right: -6px;
        top: -6px;
        text-align: center;
    }
}
.notification{
    span{
        background-color: #fcb322;
    }
}
.message{
    span{
        background-color: #ef6c00;
        
    }
}
.basket{
    span{
        background-color: #95c85a;
    }
}
.user{
    margin-left: 10px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &:before{
        font-size: 16px;
        color: #707070;
        content: '\f107';
        top: 0;
        right: 0;
        font-family: 'icomoon';
        position: absolute;
    }
    &__image{
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;
    }
    &__data{
        line-height: 24px;
        font-size: 14px;
    }
    &__name{
        color: #222;
        @include f500;
    }
    &__money{
        color: $green;
        @include f700;
    }
}
// start menu popup
.user__box{
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover{
        .user-menu{
        height: auto;
        padding: 20px 20px 16px 20px;
        padding: 20px;
        overflow: auto;
        border: 1px solid rgb(204, 204, 204);
        }
    }
}
.basket__box,
.notification__box,
.message__box{
    position: relative;
    &:hover{
        .header__circle:before{
            color: $bg;
        }
        .circle__menu{
            height: 100%;
            overflow: visible;
        }
        .circle__item{
            padding: 23px;
            border-bottom: none;
        }
    }
}
.circle{
    &__item{
        border: 1px solid #e0e0e0;
        background-color: #fff;
        padding: 0 23px;
        width: 269px;
        position: relative;
        transition: all .3s;
        &:before{
            position: absolute;
            top: 29px;
            right: 29px;
            color: #b0bec5;
        }
    }   
    &__img{
        margin-right: 15px;
        width: 73px;
        height: 57px;
    }
    &__info-name{
        font-size: 16px;
        @include f500;
        color: $bg;
    }
    &__info-theme{
        font-size: 12px;
        color: $green;
    }
    &__info-price{
        font-size: 16px;
        @include f500;
        color: #000;
    }
}
.icon-colored:before{
    color: #ef6c00!important;
}
.basket{
    &__sum{
        padding: 15px 17px 12px;
        font-size: 16px;
        @include f700;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        &-title{
            padding-left: 13px;
            margin-bottom: 15px;
            color: $bg;
        }
        &-price{
             padding-right: 21px;
        }
    }
    &__btn{
        font-size: 14px;
        @include f700;
        color: #fff;
        text-align: center;
        &-cart{
            padding: 10px 18px 10px 16px;
            background: $green;
            width: 103px;
        }
        &-check{
            padding: 10px;
            background: $red;
            width: 120px;
            margin-left: 6px;
        }
    }
}
.notification__menu,
.message__menu{
    .circle__img{
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }
    .circle{
        &__info{
            font-family: 'Roboto', sans-serif;
            line-height: 18px;
            &-theme{
                font-size: 11px;
            }
            &-data{
                font-size: 10px;
                color: #707070;
            }
            &-name{
                font-size: 12px;
                @include f700;
            }
        }
    }
}
.circle{
    &__menu {
    width: 269px;
    right: 10px;
    top: 62px;
    position: absolute;
    background-color: #fff;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    z-index: 1;
    }
}
.user-menu{
    padding: 0 20px;
    width: 158px;
    position: absolute;
    background-color: #fff;
    top: 69px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    z-index: 2;
    a{
        font-size: 12px;
        line-height: 36px;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
    }
}
// .header__btn-log,
// .header__btn-reg,
.header__btn-logout-off,
.header__btn-log--off
{
    display: none; 
}
.header__btn-log-on,
.header__btn-logout-on{
    display: block;
   
}

.menu{
    padding-top: 14px;
    &__list{
        li + li{
            margin-left: 30px;
        }
        a{
            line-height: 30px;
            letter-spacing: 0;
            @include f500;
        }   
    }
}
// end menu popup
// end header
// start modal
#modal{
    max-width: 730px;
    width: 100%;
    background-color :$green;
    padding: 90px 165px 100px;
    display: none;
}
.login__title{
    color: #fff;
    font-size: 48px;
    @include f700;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.login__wrapper{
    form{
        max-width: 400px;
        margin: 0 auto;
        button{
            max-width: 140px;
            width: 100%;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 30px;
            padding: 9px 0;
            text-align: center;
            @include f700;
            color: #000;
            background-color: #fff;
            box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
            margin-top: -2px;
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }   
    label{
        position: relative;
        display: block;
        width: 100%;
        &:before{
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 10px;
        }
    }
    .login__label-name:before{
        content: "\f007";
    }
    
    .login__label-pass:before{
        content: "\f023";
    }
    input{
        display: block;
        width: 100%;
        font-size: 14px;
        padding-left: 40px;
        margin-bottom: 18px;
        height: 43px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
    }
    .new__account{
        max-width: 246px;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-family: 'Roboto-Regular, sans-serif'!important;
        line-height: 30px;
        padding: 9px 0 11px 66px;
        background-color: #76ae36;
        position: relative;
        &:before{
            content: "\f044";
            font-family: 'icomoon';
            position: absolute;
            top: 9px;
            left: 35px;
        }
    }
    .lost__password{
        font-size: 18px;
        
    }
    .fancybox-slide--html .fancybox-close-small {
        color: #fff;
    }
}


// end modal
// start search section
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;
    &__inner{
        padding: 135px 0 100px;
        text-align: center;
        
        &-txt{
            color: #fff;
            @include f500;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 50px;
        }
        &-form{
            max-width: 670px;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    }
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 56px 0 70px;
            &-txt{
                margin-bottom: 18px;
            }
        }
    }
}
.search__form{
    input{
        display: block;
        width: 100%;
        border-radius: 4px;
        border: none;
        line-height: 30px;
        padding-left: 25px;
        height: 56px;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        &::placeholder{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            letter-spacing: 0.05em;
            line-height: 30px;
            @include f500;
            color: #90a4ae;
        }  
    }
    button{
        position: absolute;
        background-color: transparent;
        border: none;
        right: 0;
        top: 0;
        padding: 19px 20px 17px;
    }
}
// end search section
// start products section
.products{
    padding: 110px 0 130px;
    &__title{
        margin-bottom: 30px;
    }
    &__inner{
        &-btn{
        text-align: center;
        margin-bottom: 60px;
    }
    button{
        padding: 10px 18px 12px;
        color: $bg;
        @include f500;
        font-size: 14px;
        margin-right: 6px;
        background-color: #fff;
        &.mixitup-control-active {
            background-color: #e74c3c;
            color: #fff;
            transition: all 1s ease;
        }
    }
    }
}
.products__item{
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    max-width: 442px;
    width: 100%;
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
    }
    &-name{
        max-width: 310px;
      
        a{
            display: block;
        }
    }
    &-category{
        color: $green;
        font-size: 14px;
        // display: block;
    }
    &-content{
        padding: 10px 30px;
        @include f500;
        min-height: 88px;
        border-bottom: 1px solid #e7ecf2;
    }
    &-price{
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info{
        min-width: 68px;
        padding: 10px 30px;

    }
    &-author{
        max-width: 245px;
        span{
            font-size: 14px;
            color: $text;
            @include f500;
        }
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 30%;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
    }
    &-stars{
        color: $text;
        span{
            color: $bg;
        }
    }
}
.products__box{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products__bottom-btn{
    margin-top: 45px;
    text-align: center;
    button{
        margin-right: 11px;
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 400;
        color: $bg;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        &.mixitup-control-active {
            background-color: $text;
            color: #fff;
            transition: all 1s ease;
        }
    }
}
// end products section
// start products-slider section
.products-slider{
    background: #fff;
    padding: 66px 0 120px;
}
.slick-dots {
   margin-top: 40px;
    display: block;
    text-align: center;
    
    li{
        margin-left: 3px;
        margin-right: 3px;
        display: inline-block;
        button {
        margin-right: 8px;
        background: transparent;
        color: #fff;
        &:before{
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            text-align: center;
            opacity: 1;
            background-color: rgb(232, 232, 232);
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.9);
            border-radius: 50%;
        }
    }
   }
}
.slick-dots li.slick-active button:before {
    background-color: $green;
    border: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 15px;
}
// end products-slider section
// start advantages section
.advantages{
    background-color: $bg;
    padding: 100px 0 50px;
}
.advantages__inner{
    &-title{
        color: #fff;
        margin-bottom: 60px;
    }
    &-items{
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
}
.advantages__item{
    text-align: center;
    max-width: 370px;
    &:hover{
        .advantages__item-img{
            background-color: $green;
            svg{
                fill: #fff;
            }
        }   
        .advantages__item-title{
            color: $green;
        }    
    }
    &-title{
        font-size: 24px;
        color: #fff;
        @include f500;
        margin-bottom: 20px;
        transition: all 1s ease;
    }
    &-img{
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto 30px;
        transition: all 1s ease;
        svg{
            margin-top: 19px;
            transition: all 1s ease-in-out;
        }
    }
    &-txt{
        font-size: 15px;
        font-weight: 400;
        color: #6a767c;
    }
}
// end advantages section
// start author section
.author{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 812px;
        justify-content: center;

    &__item{
        max-width: 656px;
        min-height: 216px;
        width: 100%;
        background-color: $green;
        justify-content: center;
        &-title{
            max-width: 263px;
            width: 100%;
            margin-right: 45px;
        span{
            font-weight: 700;
            }
        }
        &-link{
            padding: 14px 40px;
            font-size: 18px;
            height: 64px;
            color: $bg;
            background-color: #fff;
            line-height: 36px;
        }
    }
}
// end author section
// start tutorial section
.tutorial{
    padding: 60px 0 120px;
    background-color: #fff;
    &__item{
        a{max-width: 370px;
        width: 100%;}
    }
}
.tutorial__item{
    &-img{
        display: block;
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-title{
        color: $bg;
        background-color: #f8f8f8;
        font-size: 21px;
        @include f700;
        letter-spacing: 0;
        padding: 32px 80px;
        text-align: center;
    }
}
// end tutorial section
// start footer
.footer{
    background: $bg;
    &__content{
        padding: 100px 0 80px;
    }
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-title{
        @include f700;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 30px;
        margin-bottom: 34px;
        position: relative;
        &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            background-color: $green;
            width: 51px;
            height: 3px;
        }
    }
    &-txt{
        color: $text-min;
        margin-bottom: 12px;
    }
    &-contacts{
        margin-top: 18px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        padding-left: 30px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            font-family: 'icomoon';
            font-size: 18px;
            left: 0;
            color: $green;
        }
    }
    &-adress{
        &:before{
            content: "\f041";
            top: 8px;
        }
    }
    &-phone{
        &:before{
            content: "\f095";
        }
    }
    &-list{
        a{
            margin-bottom: 16px;
            color: $text-min;
            display: block;
            padding-left: 22px;
            position: relative;
            &:before{
                content: "\f105";
                left: 0;
                position: absolute;
                color: $green;
                font-size: 18px;
                font-family: 'icomoon';
            }
        }
    }
    &-menu{
        max-width: 220px;
    }
}
.footer__social-link{
    margin-bottom: 37px;
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
        & + a{
            margin-left: 7px;
        }
    }
    .link-twitter{
        background-position: -31px -1px;
    }
    .link-youtube{
        background-position: -1px -31px;
    }
    .link-linkedin{
        background-position: -31px -31px;
    }
    .link-pinterest{
        background-position: -61px -1px;
    }
}
.footer__sign{
    &-title{
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 13px;
    }
}
.footer__form{
    position: relative;
    input{
        width: 260px;
        line-height: 30px;
        padding-left: 15px;
        padding-right: 50px;
        height: 38px;
        background-color: #2f3c43;
        border: 1px solid transparent;
        border-image: linear-gradient(to bottom, #000 0%,#000 60%, #253136 80%, #253136 100%);
        border-image-slice: 1;
        &::placeholder{
            color: #697378;
            line-height: 36px;
        }
    }
    button{
        position: absolute;
        right: 11px;
        top: 1px;
        background-color: $green;
        border: none;
        height: 36px;
        width: 41px;
        &:before{
            content: "\f124";
            position: absolute;
            color: #fff;
            font-size: 20px;
            font-family: 'icomoon';
            top: 8px;
            left: 12px;
        }
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
    span{
        text-align: center;
        font-size: 15px;
        color:#919191;
        padding: 18px 0;
        line-height: 36px;
        display: block;
    }
}
// end footer

// New-items page
// start aside product
.product-page__aside{
    margin-right: 30px;
}
.aside{
    &__item{
        background-color: #fff;
        border: 1px solid #dcdcdc;
        padding: 0px 32px 30px;
        margin-bottom: 30px;
        max-width: 270px;
        width: 100%;
    }
    &__title{
        border-bottom: 1px solid #dde3e8;
        padding-bottom: 18px;
        margin-bottom: 26px;
    }
}
.category{
    &__list{
        display: block;
        li {
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            position: relative;
            &:before{
                content: "\f105";
                left: 0;
                position: absolute;
                color: $green;
                font-size: 18px;
                font-family: 'icomoon';
            }
            a{
                color: $bg;
                margin-bottom: 12px;
            }
            span{
                color: #90a4ae;
            }
        }
    }
}
.aside__btn{
    width: 205px;
    height: 46px;
    background: $green;
    color: #fff;
    font-size: 15px;
    padding-top: 6px;
    margin-top: 28px;
    @include f500;
    position: relative;
        &:before{
            content: "\f002";
            font-family: 'icomoon';
            font-size: 15px;
            position: absolute;
            color: #fff;
            top: 15px;
            left: 55px;
        }
}
.irs-min,
.irs-max{
    display: none;
}
.irs--flat .irs-line {
    height: 5px;
    background-color: #f2f5f8;
}
.irs--flat .irs-bar {
    height: 5px;
    background-color: #37474f;
}
.irs--flat .irs-handle>i:first-child{
    background-color:#fff;
    border: 4px solid $green;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: -2px;
    margin-left: -7px;
    &:hover{
        background: #fff;
    }
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background: #fff;
}
.irs-from, .irs-single, .irs-to {
    top: 45px;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 14px;
    background: transparent;
}
.irs-with-grid .irs-grid {
    display: none;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
    display: none;
}
.product-page__aside{
    .products__item{
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #dde3e8;
        box-shadow: none;
            &-content{
                padding: 5px 0;
                min-height: 75px;
                border-bottom: none;
            }
            &-info{
                padding: 0;
            }
            &-img{
                min-height: 120px;
            }
            &-stars{
                padding: 5px 0;
            }
            &-price{
                font-size: 16px;
            }
        }
    .item-title{
        font-size: 16px;
        @include f700;
    }
    }
.jq-ry-container{
    padding: 0;
}
.rate-star{
    margin: 0;
    margin-right: 6px;
}
.products__item-author .avatar{
    margin-right: 7px;
}
.products__item-price {
    margin-top: -20px;
}

.aside__products-item{
    .products__item:last-child{
        border: none;
        padding-bottom: 0;
    }
}
.top-sellers__link{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 0;
    &:before{
        content: "";
    }
}
// end aside product-page
// start product-page content
.product-page{
    padding-bottom: 70px;
    &__content{
        width: 100%;
    } 
    &__filter{
        border: 1px solid #dde3e8;
        background-color: #fff;
        color: #707070;
        padding: 0 22px;
        height: 60px;
        margin-bottom: 30px;
        button{
            background-color: transparent;
            font-size: 18px;
            &.active{
                color: $green;
            }
        }
    }
}     
.sort__items{
    position: relative;
    line-height: 24px;
    display: flex;
    span{
       margin: 0 6px;
    } 
}
.icon-sort{
    &-amount-desc{
        color: #455a64;
    }
    &-up,
    &-down{
        line-height: 0;
        color: #707070;
        transition: all 1s ease;
        &:hover{
            color: $green;
        }
    }
    &-down{
        position: absolute;
        right: 0px;
        top: 12px;
    }
} 
.icon-th-large,
.icon-th-list{
        color: #90a4ae;
        padding-top: 2px;
        transition: all 1s ease;
        &:hover{
            color: $green;
        }
    }
.product-page__content{
   .product-page__items{
        flex-wrap: wrap;
    }
    .products__item{
        max-width: 270px;
        box-shadow: none;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        background-color: #fff;
        transition: all 0.5s cubic-bezier(0.64, 0.54, 0.3, 0.58);
        &-img{
            min-height: 180px;
        }
        &-content{
            border-right: 1px solid #ebeeef;
            border-left: 1px solid #ebeeef;
            padding: 23px 20px;
        }
    }
    .item-title{
        font-size: 16px;
        @include f500;
    }
    .products__item-stars{
        display: flex;
        align-items: center;
        justify-content: center;
        &.rate-star{
            margin-right: 5px;
        }
        span{
            font-size: 12px;
        }
    }
    .products__item-info {
        min-height: 64px;
        padding: 10px 23px;
        border: 1px solid #ebeeef;
        border-top: none;
    }
}
.pagination__list{
    margin-top: 30px;
    li{
        display: inline-block;
       & + li{
           margin-left: 6px; 
        }
        a,
        span{
            width: 43px;
            height: 38px;
            background-color: rgb(255, 255, 255);
            color: #263238;
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 16px;
            @include f500;
            &.active{
                background-color: #e74c3c;
                color: #fff;
            }
        }
    }
}
// end product page content
// start button items page

.products__item-txt{
    display: none;
}
.products__item-price{
    span{
        display: none;
    }
}
.products__item-list{
    display: none;
    .icon-comment-o{
        padding-right: 25px;
    }
    .icon-comment-o,
    .icon-heart-o{
        display: inline-block;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        color: #70838d;
        font-size: 12px;
        position: relative;
        span{
            color: #263238;
            @include f500;
            font-size: 12px;
            &:last-child{
                padding-right: 0;
            }
        }
        &:before{
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: -2px;
        }
    }
}
.product-page__items{
    .products__item{
        transition: all 0.5s cubic-bezier(0.64, 0.54, 0.3, 0.58);
        &.list{
            max-width: 100%;
            margin-bottom: 32px;
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:last-child{
                display: none;
            }
        .products__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        } 
        .products__item-content{
            padding: 18px 30px;
        }
        .products__item-txt{
            display: block;
            font-size: 14px;
            line-height: 18px;
                color: #70838d;
                margin-top: 10px;
        }
        .products__item-name {
                max-width: 480px;
            }
            .products__item-price{
                font-size: 30px;
                margin: 0;
                text-align: end;
                span{
                    display: block;
                    font-size: 13px;
                    font-weight: 400;
                    color: #70838d;
                    margin-top: 30px;
                }
            }
            .products__item-list{
                display: block;
                padding-top: 12px;
            }
            .products__item-stars{
                margin-left: auto;
                margin-right: 30px;
            }
        }
    }
}
// end button items page
// start product-one section
.product-one{
    padding-bottom: 100px;
}
.product-one__content{
    max-width: 868px;
    margin-right: 30px;
}
.product-one__img-inner{
    background: #fff;
    border: 1px solid #dcdcdc;
    padding: 20px;
    justify-content: center;
}
.product-one__img{
    max-width: 829px;
    width: 100%;
    height: 422px;
    background-image: url(images/content/product-one.jpg) no-repeat center / cover;
}
.product-one__title{
    color: $bg;
    line-height: 40px;
    @include f500;
    margin-bottom: 30px;
}
.product-one__txt{
    color: #707070;
    font-size: 16px;
    margin-bottom: 35px;
}
.product-one__box{
    margin-bottom: 50px;
}
.product-one__link{
    a{
        width: 150px;
        padding: 16px 8px;
        @include f500;
        font-size: 16px;
        text-align: center;
        & + a{
            margin-left: 20px;
        }
    }
    .link-prev{
        background-color: #e74c3c;
    }
    .link-screen{
        background-color: #455a64;
    }
    .link-doc{
        background-color: #8bc34a;
    }
}
.product-one__socials{
    .fb{
        background-color: #6370b6;
    }
    .tw{
        background-color: #64b5f6;
    }
    .lind{
        background-color: #4f71ce;
    }
    .pint{
        background-color: #d32f2f;
    }
    .youtb{
        background-color: #e52d27;
    }
    a{
        font-size: 18px;
        width: 55px;
        height: 50px;
        position: relative;
        & + a{
            margin-right: 3px;
        }
        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.product-one__tabs{
    padding-bottom: 55px;
    .tabs{
        text-align: center;
        border: 1px solid #d7d7d7;
        .tab{
            padding: 20px 0;
            font-size: 16px;
            @include f500;
            color: #70838d;
            width: 100%;
            background-color: #fff;
            cursor: pointer;
            & + .tab{
                border-left: 1px solid #d7d7d7;
            }
            &.active{
                border-bottom: 3px solid $green;
                color: $bg;
            }
        }
    }
}
.tab_content{
    background-color: #fff;
    padding: 30px 30px 60px 34px;
    border: 1px solid #d7d7d7;
    border-top: none;
    .tab-item{
        display: none;
            &:first-child{
                display: block;
            }
        &__list{
            font-size: 16px;
            line-height: 36px;
            color: #707070;
            column-count: 2;
            column-gap: 25px;
            li{
                max-width: 270px;
                width: 100%;
                display: block;
            }
        }
    }
}
.product-one__more-title{
    font-size: 18px;
    @include f500;
    color: $bg;
    padding: 17px 25px;
    margin-bottom: 28px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
.product-one__more-items{
    flex-wrap: wrap;
    .circle__img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .circle__info-name{
        font-size: 14px;
    }
    .circle__img {
        width: 100px;
        height: 90px;
    }
    .circle__item{
        padding: 0;
        margin-bottom: 27px;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    }
}
// product-one aside section 
.product-one__aside,
.profile__aside{
    .price{
        &__row{
            margin-bottom: 19px;
        }
        &__product{
            color:#e74c3c;
            @include f500;
            line-height: 40px;
            font-size: 22px;
        }
        &__type{
            border: 1px solid #d3d3d3;
            position: relative;
            &:after{
                content: "\f107";
                color: $green;
                font-size: 13px;
                position: absolute;
                right: 5px;
            }
            select{
                color: #70838d;
                font-size: 13px;
            }
        }
    }
    .product__price,
    .profile__aside-btn{
        button{
            width: 100%;
            box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
            margin-bottom: 7px;
            font-size: 16px;
            line-height: 30px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif!important;
            color: #fff;
            text-align: center;
            display: block;
            padding: 10px 5px;
            &:before{
                font-weight: 400;
                font-family: 'icomoon';
                padding-right: 8px;
            }
        }
        .icon-shopping-cart,
        .profile__aside-msg{
            background-color: $green;
        }
        .icon-heart-o{
            background-color: #42a5f5;
        }
        .icon-buy,
        .icon-envelope-o{
            background-color: #546e7a;
        }
    } 
    .author{
        &__box{
            .circle__img{
                width: 73px;
                height: 63px;
                margin-right: 15px;
            }
            .circle__info-name{
                margin-bottom: 12px;
            }
        }     
        &__profile{
            color: #7a7a7a;
            font-size: 13px;
            border: 1px solid #dcdcdc;
            padding: 0 4px 0 10px;
        } 
    }
    .author__awards-list{
        margin-top: 24px;
        li{
            width: 34px;
            height: 37px;
            color: #fff;
            background-image: url(../images/awards/css_sprite-flags.png);
            position: relative;
        &:before{
            position: absolute;
            top: 9px;
            left: 12px;
        }
    }
        .icon-neutral{
            background-position: -10px -10px;
            &:before{
                position: absolute;
                top: 8px;
                left: 9px;
            }
        }
        .icon-pagelines{
            background-position: -64px -10px;
        }
        .icon-flash{
            background-position: -118px -10px;
        }
        .icon-foursquare{
            background-position: -10px -67px;
        }
        .icon-yen{
            background-position: -64px -67px;
        }
    }
    .aside__item-sales{
        .aside__title{
            font-family: 'Roboto', sans-serif!important;
            border-bottom: none;
            background-color: #fff;
            border: 1px solid #dcdcdc;
            padding: 21px 28px;
            &:before{
                content: "\f07a";
                color: #a6b5bb;
                font-family: 'icomoon';
                margin-right: 17px;
            }
            span{
                font-size: 16px;
                color: #707070;
                @include f300;
                margin-left: 12px;
            }
        }
    }
    .information__line{
        line-height: 36px;
        font-size: 14px;
        color: $bg;
        span{
            color: #7a8b95;
        }
    }
}
// end product-one section
// start errors page
.page__error-wrapper,
.page-about__wrapper,
.contact__wrapper {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-bottom: 150px;
    .error__wrapper-title,
    .page-about__wrapper-title,
    .contact__wrapper-title{
        font-size: 24px;
        @include f500;
        padding: 23px 27px;
        color: #444;
        border-bottom: 1px solid #dcdcdc;
    }
}
.page__error-inner{
    background-color: $green;
    text-align: center;
    padding: 100px 0;
    border: 1px solid #dcdcdc;
    .page__error-number{
        font-family: 'Open Sans', sans-serif; 
        font-size: 300px;
        color: #fff;
        font-weight: 800;
        line-height: 300px;
        &:after{
            content: '';
            background-image: url(../images/page-404.png);
            position: absolute;
            width: 150px;
            height: 292px;
            margin-left: 12px;
        }
    }
    .page__error-title{
        color: #fff;
        font-family: 'Open Sans', sans-serif; 
        letter-spacing: 0.2em;
        margin-left: 70px;
    }
    .page__error-txt{
        font-size: 18px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        @include f500;
        margin-bottom: 45px;
    }
    .page__error-link{
        color: #fff;
        padding: 16px 30px;
        border: 1px solid #fff;
        border-radius: 4px;
        font-family: 'Raleway', sans-serif;
        @include f700;
        text-transform: uppercase;
    }
}
// start page-about
.page-about__wrapper{
    margin-bottom: 143px;
}
.page-about__inner{
    padding-left: 49px;
    padding-right: 76px;
    .page-about__title{
        color: #444;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .page-about__txt{
        margin-bottom: 48px;
        font-size: 15px;
        letter-spacing: 0;
        color: #707070;
    }
}
// end page-about
// start contacts page 
.contact__wrapper-title{
    padding: 23px 38px!important;
}
.contact__inner{
    padding: 32px 38px 15px;
    .contact__map{
        margin-bottom: 50px;
        iframe{
            width: 100%;
            height: 415px;
        }
    }
    .contact__info{
        width: 100%;
        max-width: 330px;
        margin-right: 30px;
        &-item{
            margin-bottom: 30px;
        }
        &-title{
            color: $bg;
            position: relative;
            padding-left: 40px;
            margin-top: 0;
            margin-bottom: 45px;
            font-family: 'Roboto', sans-serif!important;
            &:before{
                position: absolute;
                color: $green;
                font-size: 24px;
                left: 0;
                font-family: 'icomoon';
            }
            &:after{
                content: '';
                position: absolute;
                width: 44px;
                height: 4px;
                background-color: $green;
                left: 40px;
                top: 40px;
            }
        }
        &-content{
            font-size: 15px;
            color: #707070;
            max-width: 230px;
            padding-left: 40px;
        }
    }
}
.contact__form{
    width: 100%;
    &-title{
        font-size: 24px;
        color: #333;
        @include f500;
        margin-bottom: 20px;
    }
    input{
        height: 43px;
        border: none;
        background-color: #f1f4f5;
        padding-left: 17px;
        padding-right: 17px;
        width: 350px;
        margin-bottom: 30px;
        display: block;
        outline: none;
        &::placeholder{
            color: #7a7a7a;
            font-size: 15px;
        }
    }
    textarea{
        border: none;
        background-color: #f1f4f5;
        height: 190px;
        padding: 13px 17px;
        width: 100%;
        display: block;
        margin-bottom: 25px;
        resize: none;
        outline: none;
        &::placeholder{
            color: #7a7a7a;
            font-size: 15px;
        }
    }
    button{
        border: none;
        background-color: $green;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        @include f700;
        color: #fff;
        padding: 15px 35px;
    }
}
// end contacts page 
// start Settings page
.product-one__tabs.settings__tabs{
    display: flex;
    padding-bottom: 150px;
    .tabs{
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
        border: 1px solid #dedede;
        border-bottom: none;
        display: block;
        text-align-last: left;
        height: 100%;
        span{
            display: block;
            border-bottom: 1px solid #dedede;
            background-color: #fff;
            padding: 17px 17px 17px 50px;
            color: #707070;
            font-size: 14px;
            @include f500;
            &:before{
                left: 24px;
                color: #5d5d5d;
            }
            &.active{
                color: $bg;
                border-bottom: 4px solid $green;
                &:before{
                    color: $green;
                }
            }
        }
    }
    .tabs .tab+.tab {
        border-left: none;
    }
    .tab_content{
        width: 100%;
        padding: 0;
        border-top: 1px solid #dcdcdc;
        background-color: transparent;
        .page-box{
            min-height: 100%;
            background-color: #fff;
            .page-box__title{
                font-size: 24px;
                @include f500;
                font-family: 'Roboto', sans-serif;
                color: #444;
                padding: 18px 34px;
                border-bottom: 1px solid #dcdcdc;
            }
        }
        .page-box__content{
            padding: 30px 35px 79px;
            label{
                width: 260px;
                color: #444;
            }
            input,
            select{
                border: 1px solid #dcdcdc;
                background-color: #f9f9f9;
                color: #797979;
                width: 100%;
                height: 40px;
                padding-left: 15px;
            }
            .jq-selectbox{
                @extend %select-restyle;
                &__select{
                   @extend %selectbox__select-restyle;
                }
                &__select,
                &__dropdown{
                    @extend %select__dropdown-restyle;
                    padding: 3px 45px 0 14px;
                    max-width: 100%;
                }
                &__trigger{
                    border:none;
                    &-arrow{
                        @extend %dropdown-trigger;
                    }
                }
            }
            .settings__line{
                margin-bottom: 21px;
            }
            .form-btn{
                padding: 15px 30px;
                margin-left: 259px;
                }
            }
        }
    }
// end Settings page
// start profile page
.profile__aside{
    .author__profile{
        position: relative;
        max-width: 75px;
        font-size: 13px;
        line-height: 24px;
        padding-right: 15px;
        padding-left: 20px;
        &:before{
            content: '';
            width: 9px;
            height: 9px;
            background-color: $green;
            border-radius: 50%;
            margin-right: 12px;
            position: absolute;
            top: 30%;
            left: 10%;
        }
    }
    .profile-on{
        &:before{
            background-color: $green;
        }
    }
    .profile-off{
        &:before{
            background-color: $red;
        }
    }
    .author__awards-list{
        li{
            margin-right: 5px;
        }
    }
}
.profile__aside{
    .aside__title{
        margin-top: 0;
    }
    .aside__item{
        margin-right: 30px;
        padding: 25px 30px 30px 28px;
        width: 270px;
        max-width: 100%;
    }
    .product-one__socials{
        a{
            width: 28px;
            height: 28px;
            margin-right: 7px;
            margin-bottom: 20px;
        }
    }
}
.profile__aside-btn{
    margin-bottom: 30px;
    max-width: 270px;
    width: 100%;
    .icon-envelope-o{
        margin-bottom: 15px!important;
    }
}
.profile{
    &__content{
        width: 100%;
    }
    &__banner{
        padding: 20px;
        border: 1px solid #dcdcdc;
        background-color: #fff;
        margin-bottom: 30px;
    &-img{
        background-image: url(../images/content/banner.jpg) no-repeat center center / cover;
        min-height: 332px;
        }
    }
}
.profile{
    &__items{
        border: 1px solid #dcdcdc;
        background-color: #fff;
    }
    &__item{
        width: 25%;
        padding: 8px;
        border-right: 1px solid #dcdcdc;
        text-align: center;
        &-title{
            @include f500;
            font-size: 14px;
            color: $bg;
        }
        span{
            text-align: center;
            color: #707070;
            &.profile__item-sales,
            &.rate-star__number{
                color: $bg;
            }     
        }
    }
}
.profile-settings{
    .profile__tabs{
        padding-bottom: 114px;
        .tabs span{
            @include f500;
            font-family: 'Roboto', sans-serif!important;
            position: relative;
            &:before{
               left: 23px;
               top: 16px;
               font-size: 14px;
               font-family: 'icomoon';
               color: #d0d0d0;
               position: absolute; 
            }
            &.active{
                border-bottom: 2px solid $green;
            }
        }
        .tab_content{
            background-color: #fff;
        }
    }
    .personal-box{
        background-color: #fff;
        padding: 35px 45px 30px;
        &__title{
            margin-bottom: 25px;
            margin-top: 0;
        }
        &__txt{
            color: #707070;
        }
        &__item-label{
            font-size: 16px;
            margin-bottom: 16px;
        }
        &__item-title{
            @include f500;
            i{
                color: $bg;
            }
        }
        &__item-level{
            @include f700;
            color: $bg;
        }
        &__item-line{
            height: 15px;
            background-color: #f4f4f4;
            border-radius: 5px;
            margin-bottom: 25px;
            span{
                display: block;
                border-radius: 5px;
                height: 15px;
                background-image: url(../images/assets_marketcap.jpg);
                background-repeat: repeat;
            }
        }
    }
}
// end profile page
// start upload page
.upload__inner{
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 110px;
    font-family: 'Roboto-Regular, sans-serif'!important;
    &-title{
        line-height: 60px;
        font-size: 24px;
        @include f500;
        color: $bg;
        padding-left: 32px;
        margin-top: 0;
    }
    &-content{
        border-top: 1px solid #dedede;
        padding: 42px 48px 66px 32px;
    }
    &-line{
        margin-bottom: 25px;
        font-size: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        label{
            color: #444;
            min-width: 175px;
            padding-right: 15px;
            span{
                color: $green;
            }
        }
        select,
        input,
        textarea{
            background-color: #f9f9f9;
            border: 1px solid #dedede;
            width: 100%;
            height: 40px;
            color: #707070;
            padding: 10px 18px;
            display: block;
            outline: none;
            &::placeholder{
                color: #707070;
            }
        }
        textarea{
            resize: none;
            height: 150px;
            padding: 8px 18px;
        }
    }
    .form-btn{
        padding: 18px 36px;
        margin-left: 175px;
    }
    .jq-selectbox{
       @extend %select-restyle;
        &__select{
            @extend %selectbox__select-restyle;
        }
        &__select,
        &__dropdown{
           @extend %select__dropdown-restyle;
           padding: 3px 45px 0 17px;
        }
        &__trigger{
            border:none;
            &-arrow{
                @extend %dropdown-trigger;
            }
        }
    }
    .jq-file{
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        &.focused .jq-file__name{
            border: 1px solid #dedede;
        }
        &__name{
            padding: 0 80px 0 112px;
            border-radius: 0px;
            background: #f9f9f9;
            box-shadow: none;
            outline: none;
            font-size: 12px;
            color: #707070;
            border-bottom: 1px solid #dedede;
        }
        &__browse{
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 9px;
            right: auto;
            padding: 0px 12px;
            border: 1px solid #dedede;
            border-left: 1px solid #dedede;
            border-radius: 0px;
            background: #fff;
            box-shadow: none;
            text-shadow: 1px 1px #FFF;
            line-height: 24px;
            font-size: 12px;
            color: #444;
        }
    }
}
// end upload page
// start withdraws page
.withdraws{
    &__inner{
        margin-bottom: 146px;
    }
    &__col{
        width: 100%;
        height: 100%;
        max-width: 570px;
        background-color: #fff;
        border: 1px solid #dedede;
    }
    &__title{
        font-size: 24px;
        color: $bg;
        @include f500;
        padding: 15px 33px;
        border-bottom: 1px solid #dedede;
    }
    &__content{
        margin-top: 30px;
        padding-left: 35px;
        padding-right: 40px;
        
    }
    &__form-line{
        margin-bottom: 25px;
        label{
            display: block;
            color: #444;
            min-width: 175px;
            padding-right: 15px;
            font-size: 16px;
            @include f500;
            margin-bottom: 18px;
            span{
                color: $green;
            }
        }
        select,
        input{
            width: 100%;
            background-color: #f9f9f9;
            border: 1px solid #dedede;
            width: 100%;
            height: 40px;
            color: #707070;
            padding: 10px 18px;
            display: block;
            outline: none;
            &::placeholder{
                color: #707070;
            }
        }
    }
   .form-btn{
        padding: 18px 28px;
        @include f700;
        margin-left: 0;
        margin-bottom: 14px;
    }
    .jq-selectbox{
        width: 100%;
        border-radius: 0px;
        position: relative;
        background-color: #f9f9f9;
        &.focused .upload__inner{
            border: 1px solid #dedede;
        }
        &.focused .jq-selectbox__select{
            border: 1px solid #dedede;
        }
        li{
            display: block;
            color: #707070;
            padding: 5px 0 6px;
            &:before{
                content: '-------';
                position: absolute;
                top: 5%;
            }
            &:first-child{
                color: transparent;
                background-color: none;
            }
        }
        li.selected{
            background-color: #f9f9f9;
        }
        &__select{
            font-size: 15px;
            background-color: #f9f9f9;
            background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9));
            &:hover{
                background-color: #f9f9f9;
                background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9));
            }
            &.focused{
                border: 1px solid #dedede;
            }
        }
        &__select,
        &__dropdown{
            border-radius: 0px;
            border: 1px solid #dedede;
            box-shadow: none;
            background-color: #f9f9f9;
            text-shadow: none;
            color: #707070;
            background: linear-gradient(#f9f9f9);
            padding: 0 45px 0 16px;
            &:hover{
                background: linear-gradient(transparent);
                background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9));
            }
        }
        &__trigger{
            border:none;
            &-arrow{
                border-top: 5px solid #444;
            }
        }
    }
}
.withdraws__content{
    padding-bottom: 36px;
    &-item{
        height: 43px;
        font-size: 13px;
        @include f500;
        &:nth-child(odd){
            background-color: #f9f9f9;
            border-radius: 5px;
        }
    }
    &-date{
        width: 154px;
        padding-left: 20px;
        @include f500;
    }
    &-email{
        width: 180px;
    }
    &-price{
       width: 70px;
       @include f700;
    }
    &-status{
        width: 88px;
        @include f700;
        &.withdraws__content-paid{
            color: $green;
        }
    }
}
//end withdraws page

@import 'media';

