@import 'global';
@import 'vars';
@import 'fonts';

// start header
.header{
    &__top{
        background: $bg-frame;
    }
    &__top-inner{
        height: 90px;
    }
    &__txt{
        margin-left: auto;
        padding-right: 88px;
        color: $text;
        font-size: 15px;
        &-tel{
            color: $text;
        }
        span{
            color: $red;
        }
    }
    &__menu{
        height: 60px;
        background: $bg;
    }
    &__btn{
        padding: 4px;
        width: 72px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        margin-right: 7px;
        &:last-child{
            margin-right: 0;
        }
        &-log{
            background: $green;
        }
        &-reg,
        &-logout{
            background: $red;
        }
    }
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    margin-right: 17px;
    &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        line-height: 18px;
        font-size: 11px;
        @include f700;
        color:#fff;
        right: -6px;
        top: -6px;
        text-align: center;
    }
}
.notification{
    span{
        background-color: #fcb322;
    }
}
.message{
    span{
        background-color: #ef6c00;
        
    }
}
.basket{
    span{
        background-color: #95c85a;
    }
}
.user{
    margin-left: 10px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &:before{
        font-size: 16px;
        color: #707070;
        content: '\f107';
        top: 0;
        right: 0;
        font-family: 'icomoon';
        position: absolute;
    }
    &__image{
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 15px;
    }
    &__data{
        line-height: 24px;
        font-size: 14px;
    }
    &__name{
        color: #222;
        @include f500;
    }
    &__money{
        color: $green;
        @include f700;
    }
}
// start menu popup
.user__box{
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover{
        .user-menu{
        height: auto;
        padding: 20px 20px 16px 20px;
        padding: 20px;
        overflow: auto;
        border: 1px solid rgb(204, 204, 204);
        }
    }
}
.basket__box,
.notification__box,
.message__box{
    position: relative;
    &:hover{
        .header__circle:before{
            color: $bg;
        }
        .circle__menu{
            height: 100%;
            overflow: visible;
        }
        .circle__item{
            padding: 23px;
            border-bottom: none;
        }
    }
}
.circle{
    &__item{
        border: 1px solid #e0e0e0;
        background-color: #fff;
        padding: 0 23px;
        width: 269px;
        position: relative;
        transition: all .3s;
        &:before{
            position: absolute;
            top: 29px;
            right: 29px;
            color: #b0bec5;
        }
    }   
    &__img{
        margin-right: 15px;
        width: 73px;
        height: 57px;
    }
    &__info-name{
        font-size: 16px;
        @include f500;
        color: $bg;
    }
    &__info-theme{
        font-size: 12px;
        color: $green;
    }
    &__info-price{
        font-size: 16px;
        @include f500;
        color: #000;
    }
}
.icon-colored:before{
    color: #ef6c00!important;
}
.basket{
    &__sum{
        padding: 15px 17px 12px;
        font-size: 16px;
        @include f700;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        &-title{
            padding-left: 13px;
            margin-bottom: 15px;
            color: $bg;
        }
        &-price{
             padding-right: 21px;
        }
    }
    &__btn{
        font-size: 14px;
        @include f700;
        color: #fff;
        text-align: center;
        &-cart{
            padding: 10px 18px 10px 16px;
            background: $green;
            width: 103px;
        }
        &-check{
            padding: 10px;
            background: $red;
            width: 120px;
            margin-left: 6px;
        }
    }
}
.notification__menu,
.message__menu{
    .circle__img{
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }
    .circle{
        &__info{
            font-family: 'Roboto', sans-serif;
            line-height: 18px;
            &-theme{
                font-size: 11px;
            }
            &-data{
                font-size: 10px;
                color: #707070;
            }
            &-name{
                font-size: 12px;
                @include f700;
            }
        }
    }
}
.circle{
    &__menu {
    width: 269px;
    right: 10px;
    top: 62px;
    position: absolute;
    background-color: #fff;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    z-index: 1;
    }
}
.user-menu{
    padding: 0 20px;
    width: 158px;
    position: absolute;
    background-color: #fff;
    top: 69px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    z-index: 2;
    a{
        font-size: 12px;
        line-height: 36px;
        transition: all .3s;
        &:hover{
            transform: scale(1.1);
        }
    }
}
// .header__btn-log,
// .header__btn-reg,
.header__btn-logout-off,
.header__btn-log--off
{
    display: none; 
}
.header__btn-log-on,
.header__btn-logout-on{
    display: block;
   
}

.menu{
    padding-top: 14px;
    &__list{
        li + li{
            margin-left: 30px;
        }
        a{
            line-height: 30px;
            letter-spacing: 0;
            @include f500;
        }   
    }
}
// end menu popup
// end header
// start search section
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 532px;
    &__inner{
        padding: 135px 0 100px;
        text-align: center;
        
        &-txt{
            color: #fff;
            @include f500;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 50px;
        }
        &-form{
            max-width: 670px;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
    }
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 56px 0 70px;
            &-txt{
                margin-bottom: 18px;
            }
        }
    }
}
.search__form{
    input{
        display: block;
        width: 100%;
        border-radius: 4px;
        border: none;
        line-height: 30px;
        padding-left: 25px;
        height: 56px;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        &::placeholder{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            letter-spacing: 0.05em;
            line-height: 30px;
            @include f500;
            color: #90a4ae;
        }  
    }
    button{
        position: absolute;
        background-color: transparent;
        border: none;
        right: 0;
        top: 0;
        padding: 19px 20px 17px;
    }
}
// end search section
// start products section
.products{
    padding: 110px 0 130px;
    &__title{
        margin-bottom: 30px;
    }
    &__inner{
        &-btn{
        text-align: center;
        margin-bottom: 60px;
    }
    button{
        padding: 10px 18px 12px;
        color: $bg;
        @include f500;
        font-size: 14px;
        margin-right: 6px;
        background-color: #fff;
        &.mixitup-control-active {
            background-color: #e74c3c;
            color: #fff;
            transition: all 1s ease;
        }
    }
    }
}
.products__item{
    box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    max-width: 442px;
    width: 100%;
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
    }
    &-name{
        max-width: 310px;
      
        a{
            display: block;
        }
    }
    &-category{
        color: $green;
        font-size: 14px;
        // display: block;
    }
    &-content{
        padding: 10px 30px;
        @include f500;
        min-height: 88px;
        border-bottom: 1px solid #e7ecf2;
    }
    &-price{
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info{
        min-width: 68px;
        padding: 10px 30px;

    }
    &-author{
        max-width: 245px;
        span{
            font-size: 14px;
            color: $text;
            @include f500;
        }
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 30%;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
    }
    &-stars{
        color: $text;
        span{
            color: $bg;
        }
    }
}
.products__box{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.products__bottom-btn{
    margin-top: 45px;
    text-align: center;
    button{
        margin-right: 11px;
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 400;
        color: $bg;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        &.mixitup-control-active {
            background-color: $text;
            color: #fff;
            transition: all 1s ease;
        }
    }
}
// end products section
// start products-slider section
.products-slider{
    background: #fff;
    padding: 66px 0 120px;
}
.slick-dots {
   margin-top: 40px;
    display: block;
    text-align: center;
    
    li{
        margin-left: 3px;
        margin-right: 3px;
        display: inline-block;
        button {
        margin-right: 8px;
        background: transparent;
        color: #fff;
        &:before{
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            text-align: center;
            opacity: 1;
            background-color: rgb(232, 232, 232);
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.9);
            border-radius: 50%;
        }
    }
   }
}
.slick-dots li.slick-active button:before {
    background-color: $green;
    border: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 15px;
}
// end products-slider section
// start advantages section
.advantages{
    background-color: $bg;
    padding: 100px 0 50px;
}
.advantages__inner{
    &-title{
        color: #fff;
        margin-bottom: 60px;
    }
    &-items{
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
    }
}
.advantages__item{
    text-align: center;
    max-width: 370px;
    &:hover{
        .advantages__item-img{
            background-color: $green;
            svg{
                fill: #fff;
            }
        }   
        .advantages__item-title{
            color: $green;
        }    
    }
    &-title{
        font-size: 24px;
        color: #fff;
        @include f500;
        margin-bottom: 20px;
        transition: all 1s ease;
    }
    &-img{
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto 30px;
        transition: all 1s ease;
        svg{
            margin-top: 19px;
            transition: all 1s ease-in-out;
        }
    }
    &-txt{
        font-size: 15px;
        font-weight: 400;
        color: #6a767c;
    }
}
// end advantages section
// start author section
.author{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 812px;
        justify-content: center;

    &__item{
        max-width: 656px;
        min-height: 216px;
        width: 100%;
        background-color: $green;
        justify-content: center;
        &-title{
            max-width: 263px;
            width: 100%;
            margin-right: 45px;
        span{
            font-weight: 700;
            }
        }
        &-link{
            padding: 14px 40px;
            font-size: 18px;
            height: 64px;
            color: $bg;
            background-color: #fff;
            line-height: 36px;
        }
    }
}
// end author section
// start tutorial section
.tutorial{
    padding: 60px 0 120px;
    background-color: #fff;
    &__item{
        a{max-width: 370px;
        width: 100%;}
    }
}
.tutorial__item{
    &-img{
        display: block;
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-title{
        color: $bg;
        background-color: #f8f8f8;
        font-size: 21px;
        @include f700;
        letter-spacing: 0;
        padding: 32px 80px;
        text-align: center;
    }
}
// end tutorial section
// start footer
.footer{
    background: $bg;
    &__content{
        padding: 100px 0 80px;
    }
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-title{
        @include f700;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 22px;
        line-height: 24px;
        padding-bottom: 30px;
        margin-bottom: 34px;
        position: relative;
        &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            background-color: $green;
            width: 51px;
            height: 3px;
        }
    }
    &-txt{
        color: $text-min;
        margin-bottom: 12px;
    }
    &-contacts{
        margin-top: 18px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
        padding-left: 30px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            font-family: 'icomoon';
            font-size: 18px;
            left: 0;
            color: $green;
        }
    }
    &-adress{
        &:before{
            content: "\f041";
            top: 8px;
        }
    }
    &-phone{
        &:before{
            content: "\f095";
        }
    }
    &-list{
        a{
            margin-bottom: 16px;
            color: $text-min;
            display: block;
            padding-left: 22px;
            position: relative;
            &:before{
                content: "\f105";
                left: 0;
                position: absolute;
                color: $green;
                font-size: 18px;
                font-family: 'icomoon';
            }
        }
    }
    &-menu{
        max-width: 220px;
    }
}
.footer__social-link{
    margin-bottom: 37px;
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
        & + a{
            margin-left: 7px;
        }
    }
    .link-twitter{
        background-position: -31px -1px;
    }
    .link-youtube{
        background-position: -1px -31px;
    }
    .link-linkedin{
        background-position: -31px -31px;
    }
    .link-pinterest{
        background-position: -61px -1px;
    }
}
.footer__sign{
    &-title{
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 13px;
    }
}
.footer__form{
    position: relative;
    input{
        width: 260px;
        line-height: 30px;
        padding-left: 15px;
        padding-right: 50px;
        height: 38px;
        background-color: #2f3c43;
        border: 1px solid transparent;
        border-image: linear-gradient(to bottom, #000 0%,#000 60%, #253136 80%, #253136 100%);
        border-image-slice: 1;
        &::placeholder{
            color: #697378;
            line-height: 36px;
        }
    }
    button{
        position: absolute;
        right: 11px;
        top: 1px;
        background-color: $green;
        border: none;
        height: 36px;
        width: 41px;
        &:before{
            content: "\f124";
            position: absolute;
            color: #fff;
            font-size: 20px;
            font-family: 'icomoon';
            top: 8px;
            left: 12px;
        }
    }
}
.footer__copy{
    border-top: 1px solid #424d53;
    span{
        text-align: center;
        font-size: 15px;
        color:#919191;
        padding: 18px 0;
        line-height: 36px;
        display: block;
    }
}
// end footer

// New-items page
// start aside product
.product-page__aside{
    margin-right: 30px;
}
.aside{
    &__item{
        background-color: #fff;
        border: 1px solid #dcdcdc;
        padding: 0px 32px 30px;
        margin-bottom: 30px;
        max-width: 270px;
        width: 100%;
    }
    &__title{
        border-bottom: 1px solid #dde3e8;
        padding-bottom: 18px;
        margin-bottom: 26px;
    }
}
.category{
    &__list{
        display: block;
        li {
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            position: relative;
            &:before{
                content: "\f105";
                left: 0;
                position: absolute;
                color: $green;
                font-size: 18px;
                font-family: 'icomoon';
            }
            a{
                color: $bg;
                margin-bottom: 12px;
            }
            span{
                color: #90a4ae;
            }
        }
    }
}
.aside__btn{
    width: 205px;
    height: 46px;
    background: $green;
    color: #fff;
    font-size: 15px;
    padding-top: 6px;
    margin-top: 28px;
    @include f500;
    position: relative;
        &:before{
            content: "\f002";
            font-family: 'icomoon';
            font-size: 15px;
            position: absolute;
            color: #fff;
            top: 15px;
            left: 55px;
        }
}
.irs-min,
.irs-max{
    display: none;
}
.irs--flat .irs-line {
    height: 5px;
    background-color: #f2f5f8;
}
.irs--flat .irs-bar {
    height: 5px;
    background-color: #37474f;
}
.irs--flat .irs-handle>i:first-child{
    background-color:#fff;
    border: 4px solid $green;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: -2px;
    margin-left: -7px;
    &:hover{
        background: #fff;
    }
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background: #fff;
}
.irs-from, .irs-single, .irs-to {
    top: 45px;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 14px;
    background: transparent;
}
.irs-with-grid .irs-grid {
    display: none;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
    display: none;
}
.product-page__aside{
    .products__item{
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #dde3e8;
        box-shadow: none;
            &-content{
                padding: 5px 0;
                min-height: 75px;
                border-bottom: none;
            }
            &-info{
                padding: 0;
            }
            &-img{
                min-height: 120px;
            }
            &-stars{
                padding: 5px 0;
            }
            &-price{
                font-size: 16px;
            }
        }
    .item-title{
        font-size: 16px;
        @include f700;
    }
    }
.jq-ry-container{
    padding: 0;
}
.rate-star{
    margin: 0;
    margin-right: 6px;
}
.products__item-author .avatar{
    margin-right: 7px;
}
.products__item-price {
    margin-top: -20px;
}

.aside__products-item{
    .products__item:last-child{
        border: none;
        padding-bottom: 0;
    }
}
.top-sellers__link{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 0;
    &:before{
        content: "";
    }
}
// end aside product-page
// start product-page content
.product-page{
    padding-bottom: 70px;
    &__content{
        width: 100%;
    } 
    &__filter{
        border: 1px solid #dde3e8;
        background-color: #fff;
        color: #707070;
        padding: 0 22px;
        height: 60px;
        margin-bottom: 30px;
        button{
            background-color: transparent;
            font-size: 18px;
            &.active{
                color: $green;
            }
        }
    }
}     
.sort__items{
    position: relative;
    line-height: 24px;
    display: flex;
    span{
       margin: 0 6px;
    } 
}
.icon-sort{
    &-amount-desc{
        color: #455a64;
    }
    &-up,
    &-down{
        line-height: 0;
        color: #707070;
        transition: all 1s ease;
        &:hover{
            color: $green;
        }
    }
    &-down{
        position: absolute;
        right: 0px;
        top: 12px;
    }
} 
.icon-th-large,
.icon-th-list{
        color: #90a4ae;
        padding-top: 2px;
        transition: all 1s ease;
        &:hover{
            color: $green;
        }
    }
.product-page__content{
   .product-page__items{
        flex-wrap: wrap;
    }
    .products__item{
        max-width: 270px;
        box-shadow: none;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        background-color: #fff;
        transition: all 0.5s cubic-bezier(0.64, 0.54, 0.3, 0.58);
        &-img{
            min-height: 180px;
        }
        &-content{
            border-right: 1px solid #ebeeef;
            border-left: 1px solid #ebeeef;
            padding: 23px 20px;
        }
    }
    .item-title{
        font-size: 16px;
        @include f500;
    }
    .products__item-stars{
        display: flex;
        align-items: center;
        justify-content: center;
        &.rate-star{
            margin-right: 5px;
        }
        span{
            font-size: 12px;
        }
    }
    .products__item-info {
        min-height: 64px;
        padding: 10px 23px;
        border: 1px solid #ebeeef;
        border-top: none;
    }
}

.pagination__list{
    margin-top: 30px;
    li{
        display: inline-block;
        
       & + li{
           margin-left: 6px; 
        }
        a,
        span{
            width: 43px;
            height: 38px;
            background-color: rgb(255, 255, 255);
            color: #263238;
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 16px;
            @include f500;
            &.active{
                background-color: #e74c3c;
                color: #fff;
            }
        }
    }
}
// end product page content
// start button items page

.products__item-txt{
    display: none;
}
.products__item-price{
    span{
        display: none;
    }
}
.products__item-list{
    display: none;
    .icon-comment-o{
        padding-right: 25px;
    }
    .icon-comment-o,
    .icon-heart-o{
        display: inline-block;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        color: #70838d;
        font-size: 12px;
        position: relative;
        span{
            color: #263238;
            @include f500;
            font-size: 12px;
            &:last-child{
                padding-right: 0;
            }
        }
        &:before{
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: -2px;
        }
    }
}
.product-page__items{
    .products__item{
        transition: all 0.5s cubic-bezier(0.64, 0.54, 0.3, 0.58);
        &.list{
            max-width: 100%;
            margin-bottom: 32px;
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10),
            &:last-child{
                display: none;
            }
        .products__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        } 
        .products__item-content{
            padding: 18px 30px;
        }
        .products__item-txt{
            display: block;
            font-size: 14px;
            line-height: 18px;
                color: #70838d;
                margin-top: 10px;
        }
        .products__item-name {
                max-width: 480px;
            }
            .products__item-price{
                font-size: 30px;
                margin: 0;
                text-align: end;
                span{
                    display: block;
                    font-size: 13px;
                    font-weight: 400;
                    color: #70838d;
                    margin-top: 30px;
                }
            }
            .products__item-list{
                display: block;
                padding-top: 12px;
            }
            .products__item-stars{
                margin-left: auto;
                margin-right: 30px;
            }
        }
    }
}
// end button items page


@import 'media';